# Question 1.	Write a Python Program to Find the Factorial of a Number?

In [ ]:
num=int(input("Enter the number to find factorial: "))
real_value=num
fact=1
while (num>0):

  fact=fact*num
  num=num-1
print(f"The factorial of number {real_value} is :{fact}")

Enter the number to find factorial: 3
The factorial of number 3 is :6

# Question 2.	Write a Python Program to Display the multiplication Table?

In [ ]:
num = int(input("Enter a Number to diaplay multiplication table : "))
print("-----------")
print(f"Multiplication table of {num} is given below")
print("-----------")
for i in range(1,11):
    print(f"{num} * {i} = {num*i}")

Enter a Number to diaplay multiplication table : 2
-----------
Multiplication table of 2 is given below
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

 **OR**

In [ ]:
num = int(input("Enter Number to diaplay multiplication table : "))
m=int(input("Enter Number up to which the  multiplication table will go : "))
print("-----------")
print(f"Multiplication table of {num} is given below")
print("-----------")
for i in range(1,m+1):
    print(f"{num} * {i} = {num*i}")

Enter Number to diaplay multiplication table : 5
Enter Number up to which the  multiplication table will go : 10
-----------
Multiplication table of 5 is given below
-----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Question 3.	Write a Python Program to Print the Fibonacci sequence?

- a series of numbers in which each number is the sum of the two preceding numbers.

In [ ]:
n=int(input("Enter number to get fibonacci sequence: "))
x=0
y=1
z=0
while(z<=n):
  print( z)
 
  x=y
  y=z
  z=x+y
print("-----")
print("Series completed.")

Enter number to get fibonacci sequence: 3
0
1
1
2
3
-----
Series completed.

# Question 4. Write a Python Program to Check Armstrong Number?

In [ ]:


number = int(input('Enter a number: '))
print("------------")

power = len(str(number))

Sum = 0

temp =number

while temp > 0:
    digit = temp%10
    Sum = Sum + digit**power
    temp = temp//10
    
if Sum == number:
    print(f"This number {number} is an Armstrong number.")
else:
    print(f"This number {number} is not an Armstrong number.")

Enter a number: 152
------------
This number 152 is not an Armstrong number.

# Question 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [3]:
low = int(input('Enter lower bound: '))
up = int(input('Enter upper bound: '))

for num in range(low, up+1):

    order = len(str(num))

    Sum = 0

    temp = num

    while temp > 0:
        digit = temp%10
        Sum = Sum + digit**order
        temp = temp//10
    
    if Sum == num:
        print("-------")
        print(f"The armstrong number between range lower to upper: {num}")

Enter lower bound: 100
Enter upper bound: 200
-------
The armstrong number between range lower to upper: 153

# Question 6.	Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
n=int(input("Enter any natural number: "))
sum=0
for i in range(0,n+1):
  sum=sum+i
print("-------")
print(f"The Sum of Natural Number {n} is : {sum}")

Enter any natural number: 4
-------
The Sum of Natural Number 4 is : 10