# **Name: Varsha Mahato**

*1.	Write a Python program to convert kilometers to miles?*

*2.	Write a Python program to convert Celsius to Fahrenheit?*


*3.	Write a Python program to display calendar?*

*4.	Write a Python program to solve quadratic equation?*

*5.	Write a Python program to swap two variables without temp variable?*

In [3]:
#Question1:

kilometer=float(input("Enter how much kilometers you travel: "))
print("-------")
conv_fact= 0.621371

mile= kilometer*conv_fact
print(f"""After conversion
    miles = {mile}
    and kilometers = {kilometer}""")
#print(f"The miles is  {mile} and the kilometers you travel   {kilometer}")

Enter how much kilometers you travel: 100
-------
After convertion
    miles = 62.137100000000004
    and kilometers = 100.0

In [8]:
#Question2:

celsius=float(input("Enter temperature in Celsius: "))
Fahrenheit= (celsius*1.8) +32
print("------")
print(f"The temperature  after conversion of celsius {celsius} to fahrenheit is : {Fahrenheit}")

Enter temperature in Celsius: 37
------
The temperature  after conversion of celsius 37.0 to fahrenheit is : 98.60000000000001

In [26]:
# Question3:

import calendar

year=int(input("Enter Year: "))
month=int(input("Enter Month: "))
print("-------")
print("Here is our Calendar: ")
print("-------------------")
print(calendar.month(year,month))

Enter Year: 2022
Enter Month: 10
-------
Here is our Calendar:
-------------------
    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [23]:
# Question4:  quadratic equation- ax**2 + bx + c

import cmath                                  # here we are importing complex math module

a=float(input("Enter the value for a: "))
b=float(input("Enter the value for b: "))
c=float(input("Enter the value for c: "))

d= (b**2)-(4*a*c)                                            #Herewe are calculating discriminant

equation1= (-b-cmath.sqrt(d))/ (2*a)
equation2= (-b+cmath.sqrt(d))/ (2*a)

print(f"The quadratic equations are: 5{equation1,equation2}")

Enter the value for a: 10
Enter the value for b: 5
Enter the value for c: 2
The quadratic equations are: ((-0.25-0.37080992435478316j), (-0.25+0.37080992435478316j))

In [25]:
# Question5:

x=float(input("Enter the value of x: "))
y=float(input("Enter the value of y: "))

print(f"Before Swapping value of x is {x} and y is {y} ")
print("-----------------------")

x=x+y
y=x-y
x=x-y

print(f"After Swapping value of x is {x} and y is {y} ")

Enter the value of x: 1
Enter the value of y: 2
Before Swapping value of x is 1.0 and y is 2.0
-----------------------
After Swapping value of x is 2.0 and y is 1.0