##1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 
 *, 'hello' , -87.8, - , / , + ,	6 

 Answer: Values are   'hello' , -87.8 ,6 

Expressions are   -, / ,+ ,*

## 2. What is the difference between string and variable?

Answer: String are collection of peice of text

String is written between (“ “) or (''). EXAMPLE : "varsha "  or 'mahato'

Variabls is a name in which our values are store in memory location . 

values that variable contains  can be anything like ; int string ,float.

example: a=23, b=88.999 , c="varsha

# 3. Describe three different data types.
Ans: The three different data types in python are:
1. int - it contains whole number , -ve and +ve number
example: v=10 , c=-9
2.str - it contains characters which is represented whithin " " or ' '
example : v="varsha".
3.float point number -  it conatins -ve or +ve whole number with decimal point.
example : v=77.8888

In [ ]:
#example of int
a=10
print(f"the value of a : {a}")
print(f" data type is : {type(a)}")

the value of a : 10
 data type is : <class 'int'>

In [ ]:
#example of float
f=10.11
print(f"the value of a : {f}")
print(f" data type is : {type(f)}")

the value of a : 10.11
 data type is : <class 'float'>

In [ ]:
s="varsha"
print(f"the value of a : {s}")
print(f" data type is : {type(s)}")

the value of a : varsha
 data type is : <class 'str'>

# 4. What is an expression made up of? What do all expressions do?
Ans: An expression is made up of variable, constant and operator and it 
should have at least one operand.

An expression always perform operation based on operators and gives a single value as a result.

In [ ]:
#example
a = 12
v = 13

c=a+v
print(f"the addition result is : {c}")

the addition result is : 25

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans:

in spam = 10 , value 10 in assigned to spam, and now spam will hold the value that is  10.

In expression v=a/b, the value of variable  v depends on the value of a and b.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1
Ans:
the value of bacon will be 22 because it is been reassigned to bacon+1 and here 

some variable is holding bacon+1 value .ie;23

In [ ]:
bacon = 22
a=bacon + 1
print(f"the value of bacon : {bacon}")
print(f"the value of bacon+1 : {a}")

the value of bacon : 22
the value of bacon+1 : 23

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

Ans: values will be same - spamspamspam

In [ ]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?
Ans: variable name cannot start with number.

In [ ]:
eggs=100
print(eggs)

100

In [ ]:
100=eggs
print(100)

SyntaxError: ignored

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans:The three functions are:

- int()
- float()
- str()

We can use these three function to convert any value to str,int,float.

In [ ]:
# convert to string

a=33
print(a)

33

In [ ]:
str(a)

'33'

In [ ]:
# convert to float
a=10
print(a)

10

In [ ]:
float(a)

10.0

In [ ]:
# convert to int
a=66.6666
print(a)

66.6666

In [ ]:
int(a)

66

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans:
Since as we know string to string concatination is possible .

but here we have string concatination with int which is not possible .

 so we have to convert 99 to str(99)

In [ ]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [ ]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'